extends ../layout/header
block content
	include ../layout/topbar
	.box
		.container
			.container-left
				each item in program.data
					-var date = new Date(Number.parseInt(item.date.updateAt));
					ul.list
						li.item
							a.programDiv(href="/program/one?id=#{item._id}")
								.sub-title
									h5.title= item.title
									.label.right
										span.program-des 标签： #{item.category}
										span(style="margin-left:25px") 最后更新：#{date.getFullYear()+'/'+(date.getMonth() + 1)+"/"+date.getDate()}
								.content
								p= item.content
			.container-right
				include ./archive
		.M-box
		input(type="hidden" value=program.total).pageTotal
	include ../layout/footer